@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
.wrap {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1390px;
  min-width: 290px;
  margin: 0 auto;
  padding: 0px 15px;
}

.container-content {
  max-width: 1125px;
}

.main-title {
  font-size: 36px;
  text-align: center;
  color: #5D82E1;
  font-weight: 600;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f5ff;
}

/**
 * Сброс стилей
 **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 2;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
}

.header__logo {
  display: block;
  position: relative;
  z-index: 4;
}

.header__menu {
  flex-basis: 53.2%;
  transition: 0.2s ease all;
}

.header__menu.active {
  top: 0;
  transition: 0.2s ease all;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin-right: 7px;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__list .sing-up {
  background-color: #6487DF;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 5px;
  width: 165px;
  color: #ffffff;
  padding: 11px 0px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.header__item {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  transition: 0.2s ease all;
}

.header__item:hover {
  color: #6487DF;
  transition: 0.2s ease all;
}

.header__burger {
  display: none;
  width: 40px;
  height: 30px;
  position: relative;
}

.header__burger::before, .header__burger::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #6487DF;
  transition: 0.2s ease all;
}

.header__burger::after {
  bottom: 0;
}

.header__burger::before {
  top: 0;
}

.header__burger span {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 13px;
  background-color: #6487DF;
  transition: 0.2s ease all;
}

.header__burger.active::before {
  transform: rotate(45deg);
  top: 14px;
  transition: 0.2s ease all;
}

.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 12px;
  transition: 0.2s ease all;
}

.header__burger.active span {
  transform: scale(0);
  transition: 0.2s ease all;
}

@media (max-width: 1150px) {
  .header__menu {
    flex-basis: 63%;
  }
}

@media (max-width: 950px) {
  .header__menu {
    flex-basis: 65%;
  }
  .header__list .sing-up {
    font-size: 15px;
    width: 120px;
  }
  .header__item {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    top: calc(-100% - 80px);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 80px 0 0 0;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__list li {
    margin-bottom: 15px;
  }
  .header__list .sing-up {
    margin: 0 auto;
    font-size: 23px;
    width: 170px;
  }
  .header__item {
    font-size: 23px;
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 3;
  }
}

.main-gradient {
  padding-top: 57px;
  background: radial-gradient(55.41% 101.69% at 0% 0%, rgba(100, 135, 223, 0.6) 0%, rgba(25, 88, 244, 0) 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.working {
  background: url("../images/Section_1_bg.png") no-repeat center center/cover;
  height: 100vh;
  padding-top: 140px;
}

.working__title {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 800;
  color: #ffffff;
  line-height: 79px;
  margin-bottom: 25px;
}

.working__title span {
  display: block;
  letter-spacing: 2px;
  color: #4068CF;
}

.working__list {
  margin-bottom: 50px;
}

.working__list li {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  padding-left: 40px;
  margin-bottom: 28px;
}

.working__list li::before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #4068CF;
  transform: rotate(45deg);
  top: calc(50% - 8px);
  left: 0;
}

.working__list a {
  text-decoration: none;
  color: #ffffff;
}

.working .form {
  border-radius: 10px;
  width: 100%;
  padding: 31px 0 41px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.working .form-keywords {
  flex-basis: 34.6%;
}

.working .form-keywords__box {
  position: relative;
}

.working .form-keywords__box::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../images/icons/search.svg");
  top: calc(50% - 9px);
  left: 16px;
  width: 19px;
  height: 19px;
}

.working .form-keywords__input {
  width: 100%;
  padding: 12px 0 12px 47px;
  box-sizing: border-box;
  font-size: 18px;
  color: #9D9D9D;
  font-weight: 400;
  background: #F0F0F0;
  border-radius: 8px;
  border: none;
}

.working .form-keywords__input::placeholder {
  font-size: 18px;
  color: #9D9D9D;
  font-weight: 400;
}

.working .form-keywords__desc {
  font-size: 14px;
  margin-top: 10px;
  color: rgba(32, 72, 176, 0.9);
}

.working .form-specialism {
  flex-basis: 34.6%;
}

.working .form-specialism__box {
  position: relative;
}

.working .form-specialism__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  border-radius: 10px;
  height: 100%;
  background-color: #7495EA;
}

.working .form-specialism__arrow::before, .working .form-specialism__arrow::after {
  content: '';
  background-color: #ffffff;
  width: 12px;
  height: 2px;
  display: block;
  position: absolute;
}

.working .form-specialism__arrow::after {
  transform: rotate(-45deg);
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.working .form-specialism__arrow::before {
  transform: rotate(45deg);
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.working .form-specialism__input {
  width: 100%;
  padding: 12px 0 12px 16px;
  box-sizing: border-box;
  font-size: 18px;
  color: #9D9D9D;
  font-weight: 400;
  background: #F0F0F0;
  border-radius: 8px;
  border: none;
}

.working .form-specialism__input::placeholder {
  font-size: 18px;
  color: #9D9D9D;
  font-weight: 400;
}

.working .form-specialism__desc {
  font-size: 14px;
  margin-top: 10px;
  color: rgba(32, 72, 176, 0.9);
}

.working .form__btn {
  flex-basis: 15%;
  background-color: #6487DF;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 5px;
  width: 165px;
  color: #ffffff;
  padding: 11px 0px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding: 13px 0px;
}

@media (max-width: 1024px) {
  .working {
    padding-top: 100px;
  }
  .working .form {
    flex-wrap: wrap;
    padding-bottom: 31px;
  }
  .working .form-keywords {
    flex-basis: 45%;
  }
  .working .form-specialism {
    flex-basis: 45%;
  }
  .working .form__btn {
    margin-top: 30px;
    flex-basis: initial;
  }
}

@media (max-width: 800px) {
  .working {
    background: none;
    height: 100%;
    padding-top: 60px;
  }
  .working__title {
    font-size: 60px;
    line-height: 67px;
  }
  .working .form-keywords {
    flex-basis: 95%;
    margin-bottom: 30px;
  }
  .working .form-specialism {
    flex-basis: 95%;
  }
}

@media (max-width: 460px) {
  .working__title {
    font-size: 40px;
    line-height: 47px;
  }
  .working__list li {
    font-size: 18px;
  }
}

.oppotunity {
  padding-top: 90px;
}

.oppotunity-item__svg {
  width: 115px;
  height: 140px;
}
