@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
.wrap {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1390px;
  min-width: 290px;
  margin: 0 auto;
  padding: 0px 15px;
  position: relative;
}

.container-content {
  max-width: 1125px;
}

.main-title {
  font-size: 36px;
  text-align: center;
  color: #5D82E1;
  font-weight: 600;
  margin-bottom: 90px;
}

@media (max-width: 375px) {
  .main-title {
    margin-bottom: 60px;
    font-size: 26px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f5ff;
  height: 100%;
}

/**
 * Сброс стилей
 **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 2;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
}

.header__logo {
  display: block;
  position: relative;
  z-index: 4;
}

.header__menu {
  flex-basis: 53.2%;
  transition: 0.2s ease all;
}

.header__menu.active {
  top: 0;
  transition: 0.2s ease all;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin-right: 7px;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__list .sing-up {
  background-color: #6487DF;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 5px;
  width: 165px;
  color: #ffffff;
  padding: 11px 0px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.header__item {
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  transition: 0.2s ease all;
}

.header__item:hover {
  color: #6487DF;
  transition: 0.2s ease all;
}

.header__burger {
  display: none;
  width: 40px;
  height: 30px;
  position: relative;
}

.header__burger::before, .header__burger::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #6487DF;
  transition: 0.2s ease all;
}

.header__burger::after {
  bottom: 0;
}

.header__burger::before {
  top: 0;
}

.header__burger span {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 13px;
  background-color: #6487DF;
  transition: 0.2s ease all;
}

.header__burger.active::before {
  transform: rotate(45deg);
  top: 14px;
  transition: 0.2s ease all;
}

.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 12px;
  transition: 0.2s ease all;
}

.header__burger.active span {
  transform: scale(0);
  transition: 0.2s ease all;
}

@media (max-width: 1150px) {
  .header__menu {
    flex-basis: 63%;
  }
}

@media (max-width: 950px) {
  .header__menu {
    flex-basis: 65%;
  }
  .header__list .sing-up {
    font-size: 15px;
    width: 120px;
  }
  .header__item {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    top: calc(-100% - 80px);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 80px 0 0 0;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__list li {
    margin-bottom: 15px;
  }
  .header__list .sing-up {
    margin: 0 auto;
    font-size: 23px;
    width: 170px;
  }
  .header__item {
    font-size: 23px;
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 3;
  }
}

.main-gradient {
  padding-top: 57px;
  background: radial-gradient(55.41% 101.69% at 0% 0%, rgba(100, 135, 223, 0.6) 0%, rgba(25, 88, 244, 0) 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

.working {
  background: url("../images/Section_1_bg.png") no-repeat center center/cover;
  height: 100vh;
  padding-top: 140px;
}

.working__title {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 800;
  color: #ffffff;
  line-height: 79px;
  margin-bottom: 25px;
}

.working__title span {
  display: block;
  letter-spacing: 2px;
  color: #4068CF;
}

.working__list {
  margin-bottom: 50px;
}

.working__list li {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 26px;
  font-weight: 500;
  position: relative;
  padding-left: 40px;
  margin-bottom: 28px;
}

.working__list li::before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #4068CF;
  transform: rotate(45deg);
  top: calc(50% - 8px);
  left: 0;
}

.working__list a {
  text-decoration: none;
  color: #ffffff;
}

.working .form {
  border-radius: 10px;
  width: 100%;
  padding: 31px 0 41px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.working .form-keywords {
  flex-basis: 34.6%;
}

.working .form-keywords__box {
  position: relative;
}

.working .form-keywords__box::before {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../images/icons/search.svg");
  top: calc(50% - 9px);
  left: 16px;
  width: 19px;
  height: 19px;
}

.working .form-keywords__input {
  width: 100%;
  padding: 12px 0 12px 47px;
  box-sizing: border-box;
  font-size: 18px;
  color: #9D9D9D;
  font-weight: 400;
  background: #F0F0F0;
  border-radius: 8px;
  border: none;
}

.working .form-keywords__input::placeholder {
  font-size: 18px;
  color: #9D9D9D;
  font-weight: 400;
}

.working .form-keywords__desc {
  font-size: 14px;
  margin-top: 10px;
  color: rgba(32, 72, 176, 0.9);
}

.working .form-specialism {
  flex-basis: 34.6%;
}

.working .form-specialism__box {
  position: relative;
}

.working .form-specialism__arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  border-radius: 10px;
  height: 100%;
  background-color: #7495EA;
}

.working .form-specialism__arrow::before, .working .form-specialism__arrow::after {
  content: '';
  background-color: #ffffff;
  width: 12px;
  height: 2px;
  display: block;
  position: absolute;
}

.working .form-specialism__arrow::after {
  transform: rotate(-45deg);
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.working .form-specialism__arrow::before {
  transform: rotate(45deg);
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.working .form-specialism__input {
  width: 100%;
  padding: 12px 0 12px 16px;
  box-sizing: border-box;
  font-size: 18px;
  color: #9D9D9D;
  font-weight: 400;
  background: #F0F0F0;
  border-radius: 8px;
  border: none;
}

.working .form-specialism__input::placeholder {
  font-size: 18px;
  color: #9D9D9D;
  font-weight: 400;
}

.working .form-specialism__desc {
  font-size: 14px;
  margin-top: 10px;
  color: rgba(32, 72, 176, 0.9);
}

.working .form__btn {
  flex-basis: 15%;
  background-color: #6487DF;
  font-size: 18px;
  letter-spacing: 2px;
  border-radius: 5px;
  width: 165px;
  color: #ffffff;
  padding: 11px 0px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding: 13px 0px;
}

@media (max-width: 1024px) {
  .working {
    padding-top: 100px;
  }
  .working .form {
    flex-wrap: wrap;
    padding-bottom: 31px;
  }
  .working .form-keywords {
    flex-basis: 45%;
  }
  .working .form-specialism {
    flex-basis: 45%;
  }
  .working .form__btn {
    margin-top: 30px;
    flex-basis: initial;
  }
}

@media (max-width: 800px) {
  .working {
    background: none;
    height: 100%;
    padding-top: 60px;
  }
  .working__title {
    font-size: 60px;
    line-height: 67px;
  }
  .working .form-keywords {
    flex-basis: 95%;
    margin-bottom: 30px;
  }
  .working .form-specialism {
    flex-basis: 95%;
  }
}

@media (max-width: 460px) {
  .working__title {
    font-size: 40px;
    line-height: 47px;
  }
  .working__list li {
    font-size: 18px;
  }
}

.oppotunity {
  padding-top: 90px;
  padding-bottom: 220px;
}

.oppotunity-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.oppotunity-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  flex-basis: 49%;
  border-radius: 15px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
  position: relative;
  padding: 60px 60px;
  box-sizing: border-box;
  margin-bottom: 80px;
}

.oppotunity-item:last-child {
  margin-bottom: 0;
}

.oppotunity-item:nth-child(3) {
  margin-bottom: 0;
}

.oppotunity-item:nth-child(1) {
  padding: 49px 60px;
}

.oppotunity-item:nth-child(2) {
  padding: 49px 60px;
}

.oppotunity-item__title {
  font-size: 24px;
  color: #4068CF;
  font-weight: 600;
  margin-bottom: 17px;
}

.oppotunity-item__desc {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  font-weight: 400;
  flex: 1 1 auto;
}

.oppotunity-item__image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.oppotunity-item__image img {
  display: block;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .oppotunity-item {
    flex-basis: 100%;
  }
  .oppotunity-item:nth-child(3) {
    margin-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .oppotunity-item {
    margin-bottom: 50px;
  }
  .oppotunity-item:nth-child(3) {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .oppotunity-item {
    margin-bottom: 30px;
    padding: 30px 30px;
  }
  .oppotunity-item:nth-child(3) {
    margin-bottom: 30px;
  }
  .oppotunity-item:nth-child(1) {
    padding: 30px 30px;
  }
  .oppotunity-item:nth-child(2) {
    padding: 30px 30px;
  }
}

@media (max-width: 1024px) {
  .oppotunity {
    padding-bottom: 80px;
  }
}

@media (max-width: 375px) {
  .oppotunity {
    padding-bottom: 60px;
  }
}

.find {
  position: relative;
  margin-bottom: 240px;
}

.find-body {
  display: flex;
  justify-content: space-between;
}

.find-item {
  height: 575px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 32%;
}

.find-item__el {
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  padding: 30px 0 30px 30px;
  box-sizing: border-box;
}

.find-item__title {
  font-size: 18px;
  font-weight: 500;
}

.find-item__position {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #7495EA;
  height: 100%;
  border-radius: 15px;
  width: 88px;
}

.find-item__position p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.find-item__position p span {
  font-family: 'Montserrat', sans-serif;
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.findElem {
  background-image: url("../images/icons/findElement.svg");
  display: block;
  width: 376px;
  height: 797px;
  position: absolute;
  top: -362px;
  right: -10px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1130px) {
  .find-item__title {
    font-size: 16px;
  }
  .find-item__position p {
    font-size: 30px;
  }
  .find-item__position p span {
    font-size: 12px;
  }
}

@media (max-width: 1050px) {
  .find-body {
    flex-wrap: wrap;
  }
  .find-item {
    flex-basis: 48%;
    height: 500px;
    margin: 0 auto 30px auto;
  }
  .find-item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 715px) {
  .find-item {
    flex-basis: 100%;
  }
}

@media (max-width: 375px) {
  .find-item__position {
    width: 66px;
  }
  .find-item__el {
    padding-left: 15px;
  }
}

.slider {
  margin-bottom: 245px;
}

.slider__prew, .slider__next {
  position: absolute;
  display: block;
  top: 50%;
  transform: translate(0, -50%);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
}

.slider__prew::before, .slider__next::before {
  content: '';
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  top: 50%;
  left: 50%;
}

.slider__prew {
  left: 15px;
}

.slider__prew::before {
  transform: translate(-50%, -50%) rotate(45deg);
  border-bottom: 2px solid #7495EA;
  border-left: 2px solid #7495EA;
}

.slider__next {
  right: 15px;
}

.slider__next::before {
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 2px solid #7495EA;
  border-right: 2px solid #7495EA;
}

.slider-body {
  max-width: 900px;
  padding: 0 50px;
  margin: 0 auto;
  padding: 0px 80px;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-item__texts {
  flex: 0 0 45.5%;
  padding-right: 20px;
}

.slider-item__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #4068CF;
  margin-bottom: 50px;
}

.slider-item__subtitle p {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin: 0 0 30px 0;
}

.slider-item__subtitle p:last-child {
  margin: 0;
}

.slider-item__btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.slider-item__btn a {
  font-size: 18px;
  color: #4068CF;
  text-decoration: none;
  font-weight: 400;
  display: block;
  position: relative;
}

.slider-item__btn a::after {
  content: '';
  position: absolute;
  display: block;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  border-left: 5px solid #4068CF;
  top: 50%;
  right: 0;
  transform: translateY(-2px);
  margin-right: -15px;
}

.slider-item__img {
  flex-basis: 42%;
}

.slider-item__bg img {
  display: block;
  max-width: 100%;
  border-radius: 11px;
}
